<div class="content" role="main">

    <!-- Highlight Card -->
  
  
      
    <div ><img src="https://image.flaticon.com/icons/svg/1101/1101991.svg" class="center">
    </div>
      

    <!-- Resources -->
    <h1>Bienvenido</h1>
 
    
      <button  class="btn btn-primary btn-lg btn-block">Registrarme</button>
  
    
    <hr>
  
      <button  class="btn btn-secondary btn-lg btn-block">Iniciar sesion</button>
  
  
  <h4 >Olvide mi contraseña <h4>
    